@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');

button.menu-bar, button.menu-bar-active {
  outline: none;
  font-size: large;
  border: none;
  width: 20vw;
  height: 4vw;
  background-color: whitesmoke;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}
button.menu-bar:hover {
  opacity: 1;
}

button.menu-bar {
  font-weight: lighter;
  opacity: 0.5;
}

button.menu-bar-active {
  font-weight: bolder;
  background-color: white;
}

div.menu-bar {
  display: inline-flex;
}

div.menu-bar-root {
  text-align: center;
  background-color: whitesmoke;
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  user-select: none;
}

div.home-image {
  background-image: url("https://cdn.auth0.com/blog/react-splash-screen/react-app.png");
  background-size: 20vw;
  width: 20vw;
  height: 15vw;
}

div.login-widget {
  width: 2vw;
  height: 2vw;
  border: none;
  border-radius: 50%;
  background-color: white;
  padding: 0.5vw;
}

div.login-widget-root {
  width: 3vw;
  height: 3vw;
  background-color: transparent;
  padding: 0.5vw;
}
